<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.metacoder.epbpos">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Epbpos">
        <activity
            android:name=".ui.suppliers"
            android:exported="true" />
        <activity
            android:name=".ui.Customers"
            android:exported="true" />
        <activity
            android:name=".Report"
            android:exported="true" />
        <activity
            android:name=".Settings"
            android:exported="true" />
        <activity
            android:name=".ui.AllOrders"
            android:exported="true" />
        <activity
            android:name=".ui.ProductSearch"
            android:exported="true" />
        <activity
            android:name=".CartActivity"
            android:exported="true" />
        <activity
            android:name=".ui.NewPosActivity"
            android:exported="true" />
        <activity
            android:name=".ui.ProductEditPage"
            android:exported="true" />
        <activity android:name=".ui.PosPage" />
        <activity android:name=".ui.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DashBoard">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>